[Unit]
Description=Reset SMU for AMD GPUs and resume CoreCtrl helper process
After=suspend.target

[Service]
Type=oneshot
ExecStart=amdgpu-workaround-suspend-voltage-bug resume
StandardError=syslog

[Install]
WantedBy=suspend.target
